[submodule "bootstrap"]
	path = web_modules/bootstrap/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "jmpress.js"]
	path = web_modules/jmpress.js
	url = git://github.com/shama/jmpress.js.git
