- require("bootstrap");
- require("./main.css");
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="http://jmpressjs.github.com/jmpress.js")
				| jmpress.js
				span= " " + require("jmpress.js/package.json").version
.page